<ion-view title="">
  <ion-content class="has-header">
<!--FIRST POST-->	 
		<div class="offer-detail-image-wrapper">
			<img class="offer-detail-image"></img>
		</div>
		<div class="offer-detail-content-wrapper">
			<div class="offer-detail-title">
			</div>
			
		</div>


		<!-- <div class="list list-inset">
			<div class="item item-avatar">
				<img ng-cache ng-src="{{offer.fooducer_image}}">
				<h2 >{{offer.fooducer_username}}</h2>
				<p>2 minutes ago</p>
			</div>
					
			<div class="col"><center><span style="font-size:1; font-family:calibri;">SAVE UP TO<br><font size="20" color="green"></font></span></center></div>
			<div class="col"><center><span style="font-size:1; font-family:calibri;margin-left:50%top:20%;">VOUCHERS LEFT</span></center></div>
			<div class="col"><center><span style="font-size:1; font-family:calibri;">TIME LEFT<br></span></center></div>
			<div class="col2"><font size="20"color="green"><center>{{offer.offer_savings}}</center></font></div>
			<div class="col2"><font size="20"color="red"><center>{{offer.offer_max - offer.offer_availed}}</center></font></div>
			<div class="col2"><font size="20"color="orange"><center>8hrs</center></font><Br></div>
			<p>{{offer.offer_text}}</p>
			<div id="buy" style="padding: 0 0 10px 0;">
				<div id="offer" style="margin: auto; padding: 5px 5px 5px 5px; border: 1px solid #ec9f1a; border-radius: 3px; color: #ec9f1a; font-weight: bold; font-family: Calibri, sans-serif; text-align: center; width: 40%;" ng-click="availOffer(offer)">
						BUY NOW {{offer.offer_amount}}
				</div>
			</div>				
			<div class="item item-image ov-post-image">
				<img ng-cache ng-src="{{offer.offer_image}}">
			</div>
		</div> -->	
  </ion-content>
</ion-view>