<ion-view title="Terms of Use">
  <ion-content class="has-header white">
  	 <div class="hahaha">
  		<h3><b>Terms of Use</b></h3>

                In accessing or using the Foodie application, you agree to be bound by these terms of user(“Terms of Use”). <b>These Terms of Use affect your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do not access or use the Service.</b>
                
            <br><br>
            There may be times when we offer a special feature that has its own terms and conditions that apply in addition to these Terms of Use. In those cases, the terms specific to the special feature control to the extent there is a conflict with these Terms of Use.
            <br><br>

            <b>a)&nbsp&nbsp&nbsp&nbspWho can use Foodie</b><br><br>
            <p class="paris">
            You may use the Application only if you can form a binding contract with Foodie, and only in compliance with these Terms and all applicable laws. When you create your Foodie account, you must provide us with accurate and complete information. If you open an account on behalf of a company, organization, or other entity, then you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity’s behalf. To simply put, if your boss is making you use Foodie to set up a business account you must agree to these Terms.
            </p>

            <b>b)&nbsp&nbsp&nbsp&nbspYour Content</b><br><br>
            <div class="gitna">
            <ol type="I">
                <li>i.&nbsp&nbsp&nbsp&nbspYou may not post photos that are unrelated to the application.</li><br>
                <li>ii.&nbsp&nbsp&nbspYou are responsible for any activity that occurs under you screen name.</li><br>
                <li>iii.&nbsp&nbsp&nbspYou are solely responsible for your conduct and any data, text, information, photos, profiles, links that you submit, post, and display on the Foodie service.</li><br>
                <li>iv.&nbsp&nbsp&nbsp&nbspThe other users can “bite” your photo granting you only One(1) Foodie Point per Bite. The accumulated Foodie points are non-transferable and cannot be revoked once given.</li><br>
            </ol>
            </div>

            <b>c)&nbsp&nbsp&nbsp&nbspUsing Foodie</b><br><br>
            <div class="gitna">
            i.  You are responsible for keeping you password secure. <br><br>

            ii. You may not abuse, harass, threaten, impersonate or intimidate other Foodie users. <br><br>

            iii.    You may not use the Foodie service for any illegal or unauthorized purpose. <br><br>

            iv. You may not access Foodie’s private API by any other means other than the Foodie application itself. <br><br>

            v.  You must not create or submit unwanted account, emails, comments to any Foodie users (“Spam”). <br><br>

            vi. You must not transmit any viruses or any code of a destructive nature. <br><br>

            vii.    You must not violate any laws in your jurisdiction(including but not limited to copyright laws). <br><br>

            viii.   Violation of any of these agreements will result in the termination of you Foodie account. While Foodie prohibits such conduct and content on its site, you understand and agree that Foodie cannot be responsible for the Content posted on its application and you nonetheless may be exposed to such materials and that you use the Foodie service at your own risk. <br><br>
            </div>

            <b>d)&nbsp&nbsp&nbsp&nbspFeedback/Report you provide</b><br><br>
            <p class="paris">We value hearing from our users and we are always interested in learning about ways we can make Foodie more awesome. If you choose to submit ideas or feedback, you agree that we are free to use them without any restriction or compensation to you.  If you choose to Report an activity within the application, we are to confirm if the activity being said has violated the terms and conditions of the application. </p>
            <div class="gitna">
            a)&nbsp&nbsp&nbsp&nbsp&nbspif the activity has proven violated the terms and conditions, you are granted of Fifty(50) Foodie points. And the activity will be terminated or suspended with or without notice to the user.  <br><br>
            b)&nbsp&nbsp&nbsp&nbsp&nbspif not, the activity will remain as it as before. <BR><BR>
            </div>

            <div class="genterm">
            <b>General Terms</b><br><br>
            </div>
            <div class="gitna">
            a)&nbsp&nbsp&nbsp&nbspWe may revise these terms from time to time and the most current version will be updated in our application. By continuing to access of use the Products after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Foodie service.
            <br><br>
            b)&nbsp&nbsp&nbsp&nbspWe reserve the right to refuse service to anyone for any reason at any time.
            <br><br>
            c)&nbsp&nbsp&nbsp&nbspWe reserve the right to force forfeiture to any username that becomes inactive, violates trademark, or may mislead other users.
            <br><br>
            d)&nbsp&nbsp&nbsp&nbspWe may remove Content and accounts containing Contents that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates these Terms and Condition.
            <br><br>
            e)&nbsp&nbsp&nbsp&nbspWe prohibit crawling, scrapping, caching or otherwise accessing any content on the service via automated means, including but not limited to , user profiles and photos.
            <br><br>
            f)&nbsp&nbsp&nbsp&nbspYour correspondence and business dealings with third parties found through the service are solely between you and the third party.
            <br><br><br><br><center><span class="term-footer">Updated February 12, 2015</span></center><br><br>
        </div>

        </div>      
  </ion-content>
</ion-view>