<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <div class="buttons modal-buttons">
            <i class="button button-icon ion-chevron-left modal-icons" ng-click="closeAboutModal()"></i>  
        </div> 
    	<h1 class="title">The Developers</h1>
    </ion-header-bar>
    <ion-content class="padding foodie-modal-view">
        <div class="person">
        <img ng-cache ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p160x160/10415571_908766035810511_602730028228758164_n.jpg?oh=744e1b8c52dad788cb16acafb1ca7154&oe=55496BBE&__gda__=1435000115_6b8eca99ff9ccd35b281d912f8aa74d0"/>
        <b>Carlo Benjamin G. Colubio</b>
        <p>Lead developer. Lives in Cavite City. Certified Coder. Add him on Facebook fb/carlobenj & Follow him on twitter @iamcarlobenj.</p>
     </div>
     <div class="person">
        <img ng-cache ng-src="https://i1.sndcdn.com/avatars-000063801941-0dhxbu-t500x500.jpg"/>
        <b>Jerika Mica T. Chua</b>
        <p>Project Manager. Lives in Valenzuela City. Certified Analyst. Add her on Facebook fb/jerikamicachua & Follow her on twitter @jerikamicachua.</p>
     </div>
     <div class="person">
        <img ng-cache ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c64.0.160.160/p160x160/10696321_959640600719947_8345344533961818995_n.jpg?oh=b5a27c860b5ea7856832e908af7b5d0a&oe=554FAD48&__gda__=1435296392_08714efc65578be3d003b7161efa7c4e"/>
        <b>Aristeo B. Vasquez IV</b>
        <p>Assistant Developer. Lives in Paranaque City. Certified Designer. Add him on Facebook fb/arisvasqueziv.</p>
     </div>
     <div class="person">
        <img ng-cache ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/10410405_10204131967838143_5334757834840959800_n.jpg?oh=eb7318d9381b0d1ce8ffbed1c6bdc176&oe=558EB6C6&__gda__=1435788478_7473e66f80fa64f5ad4bc1fdf35ea27d"/>
        <b>Kyssa Marie A. Lopez</b>
        <p>Assistant Developer. Lives in Taguig City. Certified Analyst. Add her on Facebook fb/kymlopez & Follow her on twitter @kymalopez.</p>
     </div>
     <br></br>
     <p class="credits">These students are product of excellent professors of the IT&M Department of Adamson University.</p>
     <div class="logos">
        <img class="logo" src="img/adu.png"></img><img class="logo" src="img/sc.jpg"></img><img class="logo" src="img/it.jpg"></img>
     </div>
     <br></br>     
  	</ion-content>
</ion-modal-view>