<ion-modal-view>
    <ion-header-bar class="bar-assertive">
    	<div class="buttons modal-buttons">
    		<i class="button button-icon ion-chevron-left modal-icons" ng-click="closeSignUpFBmodal()"></i>	
    	</div>
    	<h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content class="foodie-modal-view" class="pane" ng-controller="SignUpFbModalCtrl">
    		<div class="list">
				  <div class="item item-divider">
			    	Account Username
			  	  </div>
				   <label class="item item-input">
				    <span class="input-label">Username</span>
				    <input type="text" ng-model="foodict_username" ng-change="checkExist(foodict_username)" placeholder="None">
				  </label>
				  <span ng-if="foodict_username != '' && foodict_username.length <= 6">Must be greater than 6 letters</span>
				  <span class="foodie-balanced" ng-if="isAvailable && foodict_username != '' && foodict_username.length > 6">Username available</span>
				  <span class="foodie-assertive" ng-if="!isAvailable && foodict_username != '' && foodict_username.length > 6">Existing username. Please set other username.</span>

				  <br />

				  <div class="item item-divider">
			    	Account Password
			  	  </div>
				  <label class="item item-input">
				    <span class="input-label">Password</span>
				    <input type="password" ng-model="user_password" placeholder="None">
				  </label>		  
				  <label class="item item-input">
				    <span class="input-label">Confirm Password</span>
				    <input type="password" ng-model="user_password_2" placeholder="None">
				  </label>
				  <span class="foodie-assertive" ng-if="user_password != user_password_2 && user_password.length >= 6 && user_password_2.length >= 6">Two passwords must be equal</span>
				  <span class="foodie-assertive" ng-if="(user_password.length < 6 || user_password_2.length < 6) && (user_password.length > 0 || user_password_2.length > 0)">Password must be minimum of 6 letters.</span>
				  <span class="foodie-balanced" ng-if="user_password == user_password_2 && user_password.length >= 6 && user_password_2.length >= 6">Password okay</span>
				  <br>


				  <p class="terms-reminder">By clicking the signup button means that you have read and agreed to all the contents of the 
		  		  <b class="terms-clickable" ng-click="openTermsModal()">Terms of Use</b> of this application.</p>
				  <button class="button button-full button-assertive foodie-button-assertive" ng-class="{'inactive-button' : checkProceed()}" ng-click="signUpNow()">
					SIGN UP
				  </button>
			</div>

    		<!-- <ion-slide-box on-slide-changed="slideChanged($index)" show-pager="false" ng-init="toggleSlide(false)">
    		
				<ion-slide>
					<div class="foodie-box" ng-repeat="foodict in foodict_friends">
			    		<img ng-src="{{foodict.picture.data.url}}" class="profpic">
			    		<b>{{foodict.name}}</b><br/>
					    <span></span>
			    	</div>
				</ion-slide>
				<ion-slide>
					<div class="list">
			    	  <br /><br />
					  Food preferences
					  <ion-checkbox ng-model="isChecked">Poultry</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Meat</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Fish</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Vegan</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Dessert</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Filipino</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Asian</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Home made</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Oriental</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Mexican</ion-checkbox>
					  <ion-checkbox ng-model="isChecked">Western</ion-checkbox>
					</div>
				</ion-slide>
			</ion-slide-box> -->
  	</ion-content>
</ion-modal-view>



<!--
<label class="item item-input item-stacked-label">
			    <span class="input-label">Description</span>
				<textarea class="foodie-textarea-large" maxlength="2500" placeholder="Describe this awesome treat!" ng-model="post_text"></textarea>
			</label>
			<div class="item item-toggle">
			     {{toggleText}} location sharing
			     <label class="toggle toggle-assertive">
			       <input type="checkbox" ng-model="isChecked" ng-change="toggleLocation()">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			</div>
			<div id="map" class="foodie-maps" ng-if="isChecked"></div>
	    <button class="button button-full button-energized" ng-click="postBlog()">Post</button>
	    <br/>



-->