<ion-view title="Settings">
  <ion-content class="has-header white">
  	<div class="list">

	  <div class="item item-divider">
    	Account Settings
  	  </div>
  	  <a class="item item-icon-left item-icon-right" href="#/tab/newsfeed/me/settings/username">
	  	<i class="icon edit-icons ion-person"></i>
		Change Username
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>
  	  <a class="item item-icon-left item-icon-right" href="#/tab/newsfeed/me/settings/email">
	  	<i class="icon edit-icons ion-email"></i>
		Change Email Address
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>
	  <a class="item item-icon-left item-icon-right" href="#/tab/newsfeed/me/settings/password">
	  	<i class="icon edit-icons ion-key"></i>
		Change Password
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>

	  <div class="item item-divider">
    	Privacy Settings
  	  </div>

	  <div class="item item-icon-left item-toggle">
	  	<i class="icon edit-icons ion-locked" ng-if="accountDetails.foodict_isPrivate"></i>
	  	<i class="icon edit-icons ion-unlocked" ng-if="!accountDetails.foodict_isPrivate"></i>
		<span style="color: black;">Posts are Private</span>
		<label class="toggle toggle-assertive">
			<input type="checkbox" ng-model="accountDetails.foodict_isPrivate" ng-change="togglePrivacy(accountDetails)">
			    <div class="track">
			    	<div class="handle"></div>
			    </div>
		</label>
	  </div>

	  <div class="item item-divider">
    	More
  	  </div>
  	  <a class="item item-icon-left item-icon-right" href="#/tab/newsfeed/me/settings/more/terms">
	  	<i class="icon edit-icons ion-android-list"></i>
		Terms of Use
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>	  
  	  <a class="item item-icon-left item-icon-right" href="#/tab/newsfeed/me/settings/more/about/developers">
	  	<i class="icon edit-icons ion-information-circled"></i>
		About the Developers
		<i class="icon ion-chevron-right icon-accessory"></i>
	  </a>
	</div>

  </ion-content>
</ion-view>