<ion-view title="Offensive comment">
  <ion-content class="has-header white">
  		<div class="foodie-divider-xxs"></div>

  		<!--TYPE 11 -->
  		<div ng-if="offensive.report_type == 11" >
		  	<div class="foodie-box has-timestamp no-border">
			    <img ng-cache ng-src="{{offensive.foodict_image}}" />  		

			  		<b ng-click="">{{offensive.foodict_username}}</b> 
			  		<br/><p class="comment-review">"{{offensive.comment_content}}"</p>

			  	<span class="timestamp">Last <span datetime="{{offensive.report_date}}"></span> · <span>{{offensive.reporters.length}} reporter(s)</span></span>
		  	</div>
	  		<div class="report-actions">
	  			<span class="report-action-button" ng-click="penalize(offensive.report_ID, offensive.report_source_item_ID, 11, 10)">Penalize 10FP</span>
	  			<span class="report-action-button" ng-click="delete(offensive.report_ID, offensive.report_source_item_ID, 11)">Delete item</span>
	  			<span class="report-action-button" ng-click="ignore(offensive.report_ID, offensive.report_source_item_ID, 11)">Ignore</span>
	  		</div>
  		</div>


  		<!--REPORTERS -->
  		<div ng-if="offensive.reporters.length > 0 && offensive.reporters != null">
		<div class="item item-divider item-divider-admin">Persons who reported this</div>
			<div class="foodie-box has-timestamp" ng-repeat="foodict in offensive.reporters">
		        <img ng-cache ng-src="{{foodict.foodict_image}}" class="profpic">
		        <b>{{foodict.foodict_username}}</b>
		        {{foodict.report_description}}
		        <span class="timestamp" timeago="{{foodict.report_date}}"></span>
		    </div>
		</div>
  </ion-content>
</ion-view>