<ion-view title="Change Password">
  <ion-content class="has-header white" ng-controller="FooducerAccountSettingsCtrl">
  	<div class="list">

  	  <div class="item item-divider">
    	Password
  	  </div>

	  <label class="item item-input">
	    <span class="input-label">Current</span>
	    <input type="password" placeholder="None" ng-model="current_password">
	  </label>

	  <label class="item item-input">
	    <span class="input-label">New</span>
	    <input type="password" placeholder="None" ng-model="new_password">
	  </label>

	  <label class="item item-input">
	    <span class="input-label">Confirm</span>
	    <input type="password" placeholder="None" ng-model="confirm_password">
	  </label>
	</div>
	  

	  <button class="button button-full button-assertive foodie-button-assertive" ng-click="saveChanges(accountDetails, 2)">Save</button>

  </ion-content>
</ion-view>

